<h1>Home</h1>
<p>Welcome to my single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/' target="_blank">ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'  target="_blank">C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'  target="_blank">Angular</a> and <a href='http://www.typescriptlang.org/'  target="_blank">TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'  target="_blank">Bootstrap</a> for layout and styling</li>
  <li><a href='https://www.microsoft.com/en-ca/sql-server/sql-server-2019'  target="_blank">SQL Server</a> for database</li>
  <li><a href='https://docs.microsoft.com/en-us/ef'  target="_blank">.NET Core Entity Framework</a> for data models </li>
  
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Server-side REST Web APIs</strong>. For example, click <em>SQL REST </em> then the Angular/Typescript code uses RXJS to get data from REST API</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The source code can be found at:</p>
<ul>
  <li><a href='https://get.asp.net/' target="_blank">Client-side Angular Project</a></li>
  <li><a href='https://angular.io/'  target="_blank">Server-side REST Web API </a> </li>
</ul>
